@tailwind preflight;

@tailwind components;

@tailwind utilities;

.fade-enter-active {
  animation: fadeIn 350ms forwards;
}
.fade-leave-active {
  animation: fadeOut 350ms forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.97);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.97);
  }
}


.nav-item {
  @apply no-underline border-b border-black text-white opacity-50 mr-3 font-sans font-normal text-sm transition-darkmode inline-block;
}

.dark-mode .nav-item {
  @apply text-black;
}

.nav-item--social {
  @apply opacity-100 border-none;
}

.nav-item:hover {
  @apply opacity-100;
}

.nav-item.nuxt-link-exact-active {
  @apply text-white border-b border-white opacity-100;
}

.dark-mode .nav-item.nuxt-link-exact-active {
  @apply text-black border-black;
}

.link {
  @apply text-white transition-darkmode;
}

.dark-mode .link {
  @apply text-black;
}